@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Chakra+Petch&family=Montserrat:wght@300;700&family=Open+Sans&family=Pacifico&family=Pinyon+Script&family=Rajdhani:wght@500&family=Raleway:wght@200&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "cursive", sans-serif;
  list-style-type: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  position: relative;
}
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2vw 2.5vw;
}
#left-nav,
#right-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#line {
  width: 1px;
  height: 15px;
  background-color: #ccc;
}

.bus-tick {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 10px;
  border-radius: 5px;
}
.bus-tick:hover {
  background-color: #d9d6d6;
  transition: 0.5s;
}
.bus-tick img {
  width: 30px;
}

.bus-tick span {
  font-size: 16px;
  letter-spacing: 0.4px;
}

/*  */

.head {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
}
.head:hover {
  background-color: #ccc;
  transition: 0.5s;
}
.head i {
  font-size: 20px;
}
.head span {
  display: flex;
  align-items: center;
}

/* HERO */
#hero {
  position: relative;
  background-color: #fff;
  padding: 5vw;
  height: 100vh;
  width: 100%;
  background-image: url(https://st.redbus.in/Images/HomeIndia/HeroImage.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}
#hero h1 {
  color: #fff;
}

#bus-control {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
}
#control-section {
  display: flex;
  align-items: center;
  height: 80px;
  width: 200px;
  gap: 1rem;
}

#control-section:nth-child(1),
#control-section:nth-child(2) {
  border-right: 1px solid #b92020;
  padding: 0 20px;
}

#control-section:nth-child(3),
#control-section button {
  padding: 0 20px;
}

#control-section input {
  border: none;
  outline: none;
  font-size: 19px;
  color: black;
}
#hero i {
  font-size: 26px;
}
#control-section button {
  background-color: rgb(221, 71, 71);
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 600;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#trend-offers {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 90%;
  padding: 25px 40px;
  background-color: #fff;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 25px;
  border-radius: 32px;
}
#container-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container-btn h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 0.7;
}
#container-btn a {
  color: blue !important;
  font-weight: 500;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  border-radius: 50px;
}
#container-btn a:hover {
  background-color: #000;
  color: #fff !important;
  transition: 0.5s;
}

.fChEBQ {
  position: relative;
}
.EPDIF {
  display: flex;
  overflow: scroll hidden;
  gap: 1.5rem;
  scroll-behavior: smooth;
}

.iEQPzt {
  display: flex;
  width: 20.3rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    71.04deg,
    rgb(12, 57, 139) -6.92%,
    rgb(62, 118, 216) 109.43%
  );
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.hyEWJv {
  display: flex;
  width: 20.3rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    71.04deg,
    rgb(39, 57, 101) -6.92%,
    rgb(80, 210, 149) 109.43%
  );
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.bVQpiQ {
  display: flex;
  width: 20.3rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    71.04deg,
    rgb(72, 0, 4) -6.92%,
    rgb(216, 78, 85) 109.43%
  );
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.fFJxMU {
  display: flex;
  width: 20.3rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    71.04deg,
    rgb(14, 113, 67) -6.92%,
    rgb(115, 236, 179) 109.43%
  );
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.cWNkhC {
  display: flex;
  width: 20.3rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    71.04deg,
    rgb(24, 125, 151) -6.92%,
    rgb(109, 213, 237) 109.43%
  );
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.irTdyn {
  display: flex;
  width: 20.3rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    71.04deg,
    rgb(206, 119, 0) -6.92%,
    rgb(255, 194, 111) 109.43%
  );
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.iWrqRd {
  border: 1px dashed rgb(255, 255, 255);
  border-radius: 0.25rem;
  max-width: 140px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imBptA {
  width: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.jbPWCT {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 180px;
}

.cwqblp {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2.5rem;
}
.WAbSq {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  text-align: center;
}

.gJgZBc {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.25rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  font-size: 12px;
  text-align: center;
}

.vOLKx {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ggQByw {
  font-size: 12px;
  line-height: 1rem;
  font-weight: 400;
}

.jJltku {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.75rem;
}

/* HOME */
#home {
  height: 100vh;
}

/* 
NexT_cont
*/

#NexT_cont {
  padding: 5vw 8vw 0vw 8vw;
  height: 100%;
}

#NexT_cont img {
  border-radius: 10px;
}
#grid-2 {
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

#grid-item--img {
  display: flex;
  padding: 2rem 0;
  align-items: end;
  background-image: url(https://s3.rdbuz.com/web/images/homeV2/AboutUs/aboutUsImg.svg);
  background-position: center;
  background-size: cover;
}
#grid-container h1 {
  font-weight: 100;
  font-size: 3vw;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

#grid-container h1 span {
  font-weight: 600;
}

#ticket-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 15px 0;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.item-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item-1 img {
  font-size: 200px !important;
}
#ticket-items #line {
  height: 35px;
}
.item-1 span {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.item-list--list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#item-list p {
  font-size: 20px;
  line-height: 6;
}
.AboutUs__InfoPoints-w9osof-11 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.AboutUs__InfoPoints-w9osof-11 img {
  width: 100px;
}
.AboutUs__Info-w9osof-12 {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.cNxDQy {
  text-decoration: none;
  width: fit-content;
  margin-top: 2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.9rem 1rem;
  gap: 0.75rem;
  font-size: 20px;
  line-height: 24px;
  background-color: rgb(216, 78, 85);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 78, 85);
  font-weight: 700;
  cursor: pointer;
}

.cNxDQy i {
  rotate: 180deg;
  font-style: 30px;
}

/* 

ENJOY APP
*/

#enjoy-app {
  height: 100vh;
  margin-top: 8vw;
  padding: 5vw;
}

.fAiJnC {
  background-image: url("https://s1.rdbuz.com/web/images/homeV2/appinstall/appInstallbg.svg");
  display: flex;
  border-radius: 48px;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
  background-size: cover;
  background-position: right center;
}

#enjoy-app h1 {
  color: #fff;
  font-size: 3vw;
  font-weight: 400;
  letter-spacing: 1px;
}
#grid-3--c0l {
  display: flex;
  align-items: center;
  gap: 5rem;
}
#grid-3--c0l p {
  color: #fff;
  font-size: 1.3vw;
  width: 60%;
  letter-spacing: 0.5px;
  font-weight: 600;
}
#quile-acces {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 3rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  width: 30.5rem;
}

#quile-download,
#quile-scan {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#quile-acces {
  display: flex;
  gap: 1rem;
}
.scc-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.scc-item img {
  width: 28px;
}
.scc-item span {
  font-size: 20px;
  opacity: 0.7;
  letter-spacing: 0.5px;
  font-family: "Montserrat";
  font-weight: 500;
}
#rating {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.iCQNyJ {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dDTXkS {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 6px;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 900;
  opacity: 0.7;
}
.iVRoGq {
  font-size: 15px;
}
.hbygOL {
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  color: rgb(29, 29, 29);
}
.gXIehj {
  font-size: 18px;
  line-height: 17px;
}
#item-3-line {
  width: 2px;
  height: 80px;
  background-color: #ccc;
}

/* PRIMO */
#primo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5vw;
}

#slide-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cCVFlH {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 3rem;
}
.fqnYyG {
  width: 6rem;
  height: 6rem;
}
.fqnYyG img {
  width: 6rem;
  height: 6rem;
}
.cYQSQV {
  display: flex;
  flex-direction: column;
  width: 12.5rem;
  gap: 0.75rem;
}
.hlKOyy {
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
}

.hBpcMq1 {
  width: 22rem;
  height: 9.8rem;
  padding: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    rgb(38, 72, 153),
    rgb(125, 70, 134)
  );
  gap: 1.5rem;
}

.hBpcMq2 {
  width: 22rem;
  height: 9.8rem;
  padding: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(
    71.04deg,
    rgb(39, 57, 101) -6.92%,
    rgb(80, 210, 149) 109.43%
  );
  gap: 1.5rem;
}

.hBpcMq3 {
  width: 22rem;
  height: 9.8rem;
  padding: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(
    71.04deg,
    rgb(24, 125, 151) -6.92%,
    rgb(109, 213, 237) 109.43%
  );
  gap: 1.5rem;
}

.dPbtuK {
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

#partened {
  padding: 1vw 5vw;
}

#partened h1 {
  font-size: 3vw;
  opacity: 0.7;
  font-weight: 400;
  line-height: 2;
}
#rtc {
  line-height: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#partened h1,
#rtc {
  padding: 0 40px;
}
#partenerd-img {
  padding: 2rem 0;
}
.hcwFYS {
  width: auto;
  height: auto;
  display: flex;
  white-space: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.dJVBwd {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
  color: rgb(29, 29, 29);
  -webkit-box-align: center;
  align-items: center;
}
.bIroSE {
  width: 6rem;
  height: 6rem;
  margin: 0rem 1rem;
}
.kuzaPC {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(29, 29, 29);
  padding: 0.6rem 2rem;
}

#rtc a {
  padding: 2px 30px;
  font-size: 20px;
  color: #000;
  border-radius: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
}
#rtc h2 {
  font-size: 2vw;
  opacity: 0.6;
  font-weight: 400;
}

.dJVBwd:hover .kuzaPC {
  background: #ccc;
  border-radius: 5px;
}

#bus--list ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

#bus--list ul li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
.travel-name {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  opacity: .8;
}

.travel-name:hover {
  background-color: #e0dbdb;
}
